repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
      - id: format
        name: format files
        entry: just fmt
        language: system
        pass_filenames: false
      - id: lint
        name: run linter
        entry: just lint
        language: system
        pass_filenames: false
      - id: test
        name: run tests
        entry: just test
        language: system
        pass_filenames: false
