# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

# @S3B4SZ17 @alecron and @sysdiglabs/sysdig-training will be requested for

# review when someone opens a pull request

*       @sysdiglabs/sysdig-training
