---
name: Image Tests

on:
  pull_request:
    paths:
      - pyproject.toml
      - Dockerfile
      - "*.py"
      - tests/**
      - tools/**
      - utils/**
  workflow_call:
  workflow_dispatch:

concurrency:
  group: "tests-${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read # required for actions/checkout
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.7.17"

      - name: Download dependencies
        run: make init

      - name: Run ruff
        run: make lint

      - name: Run Unit Tests
        run: make test
