name: Test

on:
  pull_request:
    branches:
      - main
      - master
  workflow_call:
  workflow_dispatch:

concurrency:
  group: "tests-${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: nix develop --command bash {0}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install nix
        # Pinned to v21 commit SHA for supply-chain safety.
        # To update: git ls-remote https://github.com/DeterminateSystems/nix-installer-action.git <tag>
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Enable Nix cache
        # Pinned to v13 commit SHA for supply-chain safety.
        # To update: git ls-remote https://github.com/DeterminateSystems/magic-nix-cache-action.git <tag>
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13

      - name: Run Checks
        run: just check
        env:
          SYSDIG_MCP_API_HOST: ${{ vars.SYSDIG_MCP_API_HOST }}
          SYSDIG_MCP_API_TOKEN: ${{ secrets.SYSDIG_MCP_API_SECURE_TOKEN }}
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: nix develop --command bash {0}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install nix
        # Pinned to v21 commit SHA for supply-chain safety.
        # To update: git ls-remote https://github.com/DeterminateSystems/nix-installer-action.git <tag>
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Enable Nix cache
        # Pinned to v13 commit SHA for supply-chain safety.
        # To update: git ls-remote https://github.com/DeterminateSystems/magic-nix-cache-action.git <tag>
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13

      - name: Build
        run: go build ./...
